@page "/"

<div class="container m-5 p-2 rounded mx-auto shadow" style="background-color: #5F6B83;">
    <!-- App title section -->
    <div class="row m-1 p-4">
        <div class="col">
            <div class="p-1 h1 text-light text-center mx-auto display-inline-block">
                <p>My ToDoo's</p>
            </div>
        </div>
    </div>
    <!-- Add todo section -->
    <div class="row m-1 p-3">
        <div class="col col-11 mx-auto">
            <div class="row bg-white rounded shadow-sm p-2 add-todo-wrapper align-items-center justify-content-center">
                <div class="col">
                    <input class="form-control form-control-lg border-0 add-todo-input bg-transparent rounded" type="text" placeholder="Add new .." @bind-value="TodoItem.Name">
                </div>
                <div class="col-auto px-0 mx-0 mr-2">
                    <button class="btn btn-dark" @onclick="(() => CreateTodo(TodoItem.Name))">Add</button>
                </div>
            </div>
        </div>
    </div>

    @if (TodoItems != null && TodoItems.Any())
    {
        @foreach (var item in TodoItems)
        {
            <div class="row mx-1 px-5 pb-3 w-80">
                <div class="col mx-auto">
                    <!-- Todo Item  -->
                    <div class="row px-3 align-items-center todo-item rounded">
                        <div class="col-auto m-1 p-0 d-flex align-items-center">
                            <button class="btn btn-dark" @onclick="(() => CompleteTodo(item.Id))">Complete</button>
                        </div>
                        <div class="col px-1 m-1 d-flex align-items-center">
                            <input type="text" class="form-control form-control-lg border-0 text-light edit-todo-input bg-transparent rounded px-3" readonly value="@item.Name"/>
                        </div>
                    </div>
                </div>
            </div>
        }
    }

</div>
